<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pageMax" value="100" />
    <add key="FirstStart" value="1" />
    <add key="command1" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|1|Reaper Transport - Start||||0|0|0" />
    <add key="command2" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|2|Reaper Transport - Stop||||0|0|0" />
    <add key="command3" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|3|Reaper Transport - Go to Begin||||0|0|0" />
    <add key="command4" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|4|Reaper Transport - Go to End||||0|0|0" />
    <add key="command5" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|5|Reaper Transport - Record Arm||||0|0|0" />
    <add key="command6" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|6|Reaper Transport - Loop On / Off||||0|0|0" />
    <add key="command7" value="MIDI2x2|10|20|PC|1|10|0|Relay Demonstration||MIDIIN2 (MIDI2x2)|PC|1|10|0" />
    <add key="command201" value="E-MU XMidi1X1 Tab|1|0|BK|0|0|100|Bank Select - Reaper||||0|0|0" />
    <add key="command202" value="E-MU XMidi1X1 Tab|2|0|BK|0|0|0|Bank Select - Axe FXII Guitar||||0|0|0" />
    <add key="command203" value="E-MU XMidi1X1 Tab|3|0|BK|0|0|0|Bank Select - TC Helicon Reverb||||0|0|0" />
    <add key="command204" value="E-MU XMidi1X1 Tab|4|0|BK|0|0|0|Bank Select - Keyboard||||0|0|0" />
    <add key="command205" value="E-MU XMidi1X1 Tab|5|0|BK|0|0|0|Bank Select - Roland Integra7 Tone Generator||||0|0|0" />
    <add key="command207" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|12|Btn 1: Reaper Transport - Start||||0|0|0" />
    <add key="command208" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|12|Btn 2: Reaper Transport - Stop||||0|0|0" />
    <add key="command209" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|12|Btn 3: Reaper Transport - Go to Begin||||0|0|0" />
    <add key="command210" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|12|Btn 4: Reaper Transport - Go to End||||0|0|0" />
    <add key="command211" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|12|Btn 5: Reaper Transport - Record Arm||||0|0|0" />
    <add key="command212" value="E-MU XMidi1X1 Tab|0|0|CC|1|12|12|Btn 6: Reaper Transport - Loop On / Off||||0|0|0" />
    <add key="command401" value="MIDI2x2|89|64|PC|2|3|1|Integra: Drawbar Organ||||0|0|0" />
    <add key="command1801" value="E-MU XMidi1X1 Tab|89|64|PC|0|1|0|R4P1: Full Grand Piano||||0|0|0" />
    <add key="command1802" value="E-MU XMidi1X1 Tab|89|64|PC|0|50|0|R4P50: Jazz Organ||||0|0|0" />
    <add key="command1803" value="E-MU XMidi1X1 Tab|89|64|PC|0|59|0|R4P59: Rock Organ||||0|0|0" />
    <add key="command1804" value="E-MU XMidi1X1 Tab|89|64|PC|0|83|0|R4P83: Delayed Twin||||0|0|0" />
    <add key="command1805" value="E-MU XMidi1X1 Tab|89|65|PC|0|23|0|R5P23: Classic Guitar||||0|0|0" />
    <add key="command1806" value="E-MU XMidi1X1 Tab|89|65|PC|0|50|0|R5P50: Tubular Bells 1||||0|0|0" />
    <add key="command1807" value="E-MU XMidi1X1 Tab|89|65|PC|0|56|0|R5P56: Gliss Dim||||0|0|0" />
    <add key="command1808" value="E-MU XMidi1X1 Tab|89|65|PC|0|61|0|R5P61: Violin1||||0|0|0" />
    <add key="command1809" value="E-MU XMidi1X1 Tab|89|65|PC|0|64|0|R5P64: Cello1||||0|0|0" />
    <add key="command1810" value="E-MU XMidi1X1 Tab|89|65|PC|0|75|0|R5P75: String Section1||||0|0|0" />
    <add key="command1811" value="E-MU XMidi1X1 Tab|89|65|PC|0|85|0|R5P85: Large Choir Ah||||0|0|0" />
    <add key="command1812" value="E-MU XMidi1X1 Tab|89|65|PC|0|86|0|R5P86: Large Choir Oo||||0|0|0" />
    <add key="command1813" value="E-MU XMidi1X1 Tab|89|65|PC|0|107|0|R5P107: Tenor Sax 1||||0|0|0" />
    <add key="command1814" value="E-MU XMidi1X1 Tab|89|65|PC|0|110|0|R5P110: Bari Sax||||0|0|0" />
    <add key="command1815" value="E-MU XMidi1X1 Tab|89|65|PC|0|112|0|R5P112: Oboe 1||||0|0|0" />
    <add key="command1816" value="E-MU XMidi1X1 Tab|89|65|PC|0|115|0|R5P115: Clarinet 1||||0|0|0" />
    <add key="command1817" value="E-MU XMidi1X1 Tab|89|65|PC|0|120|0|R5P120: Pan Flute||||0|0|0" />
    <add key="command1818" value="E-MU XMidi1X1 Tab|95|64|PC|0|1|0|R10P1: JP8 Strings||||0|0|0" />
    <add key="command1819" value="E-MU XMidi1X1 Tab|95|64|PC|0|23|0|R10P23: Juno Str3||||0|0|0" />
    <add key="command1820" value="E-MU XMidi1X1 Tab|95|64|PC|0|60|0|Oct Str 2||||0|0|0" />
    <add key="command1821" value="E-MU XMidi1X1 Tab|95|64|PC|0|75|0|R10P75: Organ Pad||||0|0|0" />
    <add key="command1822" value="E-MU XMidi1X1 Tab|95|64|PC|0|75|0|R10P75: Digi Pad 3||||0|0|0" />
    <add key="command1823" value="E-MU XMidi1X1 Tab|95|64|PC|0|75|0|R10P75: Simple Air||||0|0|0" />
    <add key="command1824" value="E-MU XMidi1X1 Tab|95|64|PC|0|102|0|R10P102: Synth Pad 1||||0|0|0" />
    <add key="command1825" value="E-MU XMidi1X1 Tab|95|64|PC|0|102|0|R10P102: Synth Pad 9||||0|0|0" />
    <add key="command1826" value="E-MU XMidi1X1 Tab|95|64|PC|0|102|0|R10P102: Synth Padd 13||||0|0|0" />
    <add key="command1827" value="E-MU XMidi1X1 Tab|95|65|PC|0|32|0|R11P32: Sweep Pad||||0|0|0" />
    <add key="command1828" value="E-MU XMidi1X1 Tab|95|65|PC|0|48|0|R11P48: Deepity||||0|0|0" />
    <add key="command1829" value="E-MU XMidi1X1 Tab|95|65|PC|1|51|0|R11P51: Trance Pad||||0|0|0" />
    <add key="command1830" value="E-MU XMidi1X1 Tab|95|65|PC|0|62|0|R11P62: GlassFx Pad||||0|0|0" />
    <add key="command1831" value="E-MU XMidi1X1 Tab|95|65|PC|0|84|0|R11P84: PLS Pad||||0|0|0" />
    <add key="command1832" value="E-MU XMidi1X1 Tab|95|72|PC|0|6|0|R18P6: My Favorite Synth Tone!||||0|0|0" />
    <add key="bookmark1" value="DAW|1" />
    <add key="bookmark2" value="FCB1010|11" />
    <add key="bookmark3" value="KeyBrd|21" />
    <add key="bookmark4" value="Axe FX|31" />
    <add key="bookmark5" value="Integra7|91" />
    <add key="integra7Expansion1" value="42|45" />
    <add key="integra7Expansion2" value="69|69" />
    <add key="integra7Expansion3" value="41|41" />
    <add key="integra7Expansion4" value="46|50" />
    <add key="lastMidiDevice" value="MIDI2x2" />
    <add key="launchIntegra7" value="0" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>